{{- $title := .Get "title" | default "" -}}
{{- $closed := eq (.Get "closed") "true" | default false -}}

{{ $data := dict }}
{{ $broadcast_map := dict }}
{{ $broadcast_teams := dict }}

{{ $path := .Get "data_source" }}
{{ with $.Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}

{{ $path := .Get "broadcast_map" }}
{{ with $.Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $broadcast_map = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}

{{ $path := .Get "broadcast_teams" }}
{{ with $.Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $broadcast_teams = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}

{{ $bg := "shadow-slate-400" }}
{{ $tc := "text-slate-700" }}

{{ range $week := $data.weeks }}
  {{- $open := eq $data.current_week $week.week | default false -}}
  <div class="flex-container flex-col m-1">
    <div>
        <details class="py-1 justify-center max-w-sm mx-auto flex items-center text-lg text-slate-700" {{ if $open }}open{{ end }}>
            <summary class="hover:text-orange-500"><strong>Week {{ $week.week }}</strong></summary>
  {{ range $day := $week.days}}
    {{ $day_ouput := true }}
    
    {{ range $game := $day.games}}
      {{ if eq $game.status "preferred" }}
        {{ $bg = "shadow-green-600" }}
        {{ $tc = "text-green-600" }}
      {{ else if eq $game.status "secondary" }}
        {{ $bg = "shadow-yellow-600" }}
        {{ $tc = "text-tellow-600" }}
      {{ else if eq $game.status "discarded_score" }}
        {{ continue }}
        {{ $bg = "shadow-red-600" }}
        {{ $tc = "text-red-600" }}
      {{ else if eq $game.status "discarded_differential" }}
      {{ continue }}
        {{ $bg = "shadow-red-600" }}
        {{ $tc = "text-red-600" }}
      {{ else if eq $game.status "discarded_rank" }}
      {{ continue }}
        {{ $bg = "shadow-red-600" }}
        {{ $tc = "text-red-600" }}
      {{ else if eq $game.status "no_data" }}
        {{ $bg = "shadow-slate-400" }}
        {{ $tc = "text-slate-700" }}
      {{ end }}

      {{ if $day_ouput }}
        <div class="mx-3 my-3 font-semibold">{{ $day.day }}</div>
        {{ $day_ouput = false }}
      {{ end }}

      {{ $tc := "text-slate-700" }}
      {{ if eq $game.gotw true }}
        {{ $tc := "text-green-600" }}
      {{ end }}

      {{ $broadcast_key := index $broadcast_map $game.game_key }}
      {{ $broadcast_team := index $broadcast_teams $broadcast_key }}

      <div class="m-2">
      <div class="p-2 grid grid-flow-col auto-cols-fr shadow-md rounded-sm {{ $bg }}">
        <div class="flex flex-col font-light"><div class="text-sm font-semibold">{{ $game.game_time }}<span class="align-top font-light text-xs"> PDT</span></div><div class="text-sm">{{ $broadcast_team.network }}</div></div>
        <div class="flex flex-row">
          <img width="40" height="40" src="{{ site.BaseURL }}images/{{ $game.away_team }}.svg"/> <span class="m-2 {{ $tc }}">@</span> <img width="40" height="40" src="{{ site.BaseURL }}images/{{ $game.home_team }}.svg"/>
        </div>
        <div class="flex flex-col visibledevice">
          {{ range $announcer := $broadcast_team.booth_short}}
            <div class="text-sm font-light self-end">{{ $announcer }}</div>
          {{ end }}  
        </div>
          <div class="flex flex-col visibledesktop">
            {{ range $announcer := $broadcast_team.booth}}
              <div class="text-sm font-light self-end">{{ $announcer }}</div>
            {{ end }}  
          </div>
      </div>
      </div>
    {{ end}}
  {{ end }}
  </details>
  </div>
  </div>
{{end}}





